body{
	background-color: #232323;
	margin: 0;
	font-family: "Montserrat", "Avenir";
}

h1{
	text-align: center;
	background-color: steelblue;
	color: white;
	margin: 0;
	padding: 20px 0;
	font-weight: normal;
	text-transform: uppercase;
	transition: background-color 0.5s;
}

#color-title{
	font-size: 200%;
}

#status-bar{
	background-color: white;
	height: 30px;
	text-align: center;
}

button{
	border: none;
	outline: none;
	background: none;
	display: inline-block;
	height: 100%;
	transition: all 0.4s;
}

.status-style{
	color: steelblue;
	font-weight: bold;
	text-transform: uppercase;
}

#game-status{
	display: inline-block;
	width: 20%;
}

button:hover, .selected{
	background-color: steelblue;
	color: white;
}

#container{
	margin: 20px auto;
	min-width: 350px;
	max-width: 600px;
}

.square{
	width:30%;
	float: left;
	padding-bottom: 30%;
	margin: 1.66%;
	border-radius: 15%;
	background-color: white;
	transition: background 0.5s;
}
